#item{
	width: 342px;
	float:left;
	margin: 10px 10px;
	height: 600px;
}

#content{
	overflow: hidden;
	height: 225px;
	padding: 10px 5px;
	text-align: justify;
}

#title{
	height: 80px;
}

#item_footer{
	padding: 10px 5px;
}